{% render 'partials/head.liquid' %}





<section class="team-1">

  {% for teamchange in teamchanges reversed %}
  {% if forloop.index == 1 %}
  <h1>{{ teamchange.text }} </h1>
  {% else %}
            {% break %} <!-- De rest van de berichten na object 3 worden niet bekeken-->
        {% endif %}
{% endfor %}

  </section>


  <section class="voetbalveld">

  </section>

  <section class="team-jolly">

  </section>


 
<form  method="POST" action="/">
  
    <input type="text" name="text" placeholder="Verzin een team naam" required>
  
    <button type="submit">press</button>
</form>

<h2>Selecteer Speler</h1>


  <a class="filter" href="/za" >Naam z → a</a>
 

<main>

<ul class="galerij">
{% for person in persons %}
  {% if person.mugshot %}

    <li class="fifa-kaart">
      <p class="id">{{ person.id }}</p>
      <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="{{ person.name }}">
    </li>
   
   
  {% else %}
    <li class="fifa-kaart"> 
       <p class="id">{{ person.id }}</p> 
    <img src="/assets/voorbeeldfoto.png" alt="placeholder">  
   </li>
  {% endif %}
{% endfor %}

</ul>



</main>

{% render 'partials/foot.liquid' %}




